---
extends: "eslint:recommended"
parserOptions:
  ecmaVersion: 6
env: 
  browser: true
  node: true
  mocha: true
  es6: true
rules: 
  no-console: "off"
  no-empty: "off"
  no-unused-vars: "warn"
  strict: "warn"
  semi: "error"
  eol-last: "warn"
  quotes:
    - "warn"
    - "single"
  space-before-function-paren:
    - "warn"
    - anonymous: always
      named: never
      asyncArrow: ignore
  block-scoped-var: 2
